### 2. Assessment tasks
You will analyse the UNDP Peoples’ Climate Vote 2024 dataset, which covers 73 countries and records 
responses by age, education, and country. It includes public attitudes towards climate change, the energy 
transition, and institutional responsibility.


You can download the dataset here: https://peoplesclimate.vote/data-center


Your tasks for the Coursework Part I are as follows:
a) Exploratory data analysis (16 marks) 
- Investigate whether there is a consistent age gap across countries in how urgently people want to replace 
coal, oil, and gas with renewable energy.
- Provide descriptive statistics and visualisations (heatmaps, grouped bar charts).
- Identify countries with the largest and smallest age gaps.


Conclusions (2 marks)
- Summarise key findings: global age gap

### 3. General guidance and study support
- Handle preprocessing carefully (e.g., “All Education” / “All Ages” aggregates).
- Justify your choice of visualisation and modelling approaches.
- Clearly explain your evaluation metrics.


Links: Module Handbook, Skills@Library, and Minerva resources.

In [6]:
import pandas as pd
df = pd.read_excel('Peoples_Climate_Vote_Database_2024.xlsx')

In [7]:
df.columns
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45784 entries, 0 to 45783
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Column1                45784 non-null  int64
 1   ID                     45784 non-null  int64
 2   CID                    45784 non-null  int64
 3   QID                    45784 non-null  int64
 4   RID                    45784 non-null  int64
 5   EID                    45784 non-null  int64
 6   AID                    45784 non-null  int64
 7   Country                45784 non-null  object
 8   Question Text          45784 non-null  object
 9   Question Text (Short)  45784 non-null  object
 10  Response               45784 non-null  object
 11  Education              45784 non-null  object
 12  Age                    45784 non-null  object
 13  Weighted Mean          25523 non-null  float64
 14  Cat ID                 45784 non-null  int64
 15  Category               45784 non-null  object
 16  Question Context       45784 non-null  object
dtypes: float64(1), int64(8), object(8)
memory usage: 5.9+ MB

,Column1,ID,CID,QID,RID,EID,AID,Country,Question Text,Question Text (Short),Response,Education,Age,Weighted Mean,Cat ID,Category,Question Context
count,45784.000000,45784.000000,45784.000000,45784.000000,45784.000000,45784.000000,45784.000000,45784,45784,45784,45784,45784,45784,25523.000000,45784.000000,45784,45784
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73,15,15,45,5,5,NaN,NaN,4,15
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Global,"In your country, who do you think has had the ...",Who has had most impact,Don't know,All Education,All Ages,NaN,NaN,Peoples' perspective,We asked people who they think has had the mos...
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,639,4508,4508,9673,25844,25123,NaN,NaN,14835,4508
mean,29816.380176,29816.380176,37.093286,7.703717,213.274572,2.105452,2.130504,NaN,NaN,NaN,NaN,NaN,NaN,21.118991,2.197056,NaN,NaN
std,17282.044284,17282.044284,21.050790,4.157016,407.183842,1.459101,1.454861,NaN,NaN,NaN,NaN,NaN,NaN,25.002656,1.015639,NaN,NaN
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN
25%,15635.750000,15635.750000,19.000000,4.000000,2.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,1.000000,NaN,NaN
50%,29637.500000,29637.500000,37.000000,8.000000,3.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,2.000000,NaN,NaN
75%,44420.250000,44420.250000,55.000000,11.000000,5.000000,3.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,29.000000,3.000000,NaN,NaN
max,59771.000000,59771.000000,73.000000,15.000000,1000.000000,5.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,4.000000,NaN,NaN

In [8]:
df.head()

,Column1,ID,CID,QID,RID,EID,AID,Country,Question Text,Question Text (Short),Response,Education,Age,Weighted Mean,Cat ID,Category,Question Context
0,60,60,1,13,1,1,1,Global,Should countries work together on climate chan...,Countries working together,Yes - they should work together despite their ...,All Education,All Ages,86.0,4,Peoples' call for collaboration,Climate change is a global problem that requir...
1,61,61,1,13,2,1,1,Global,Should countries work together on climate chan...,Countries working together,No - they should work separately,All Education,All Ages,7.0,4,Peoples' call for collaboration,Climate change is a global problem that requir...
2,62,62,1,13,3,1,1,Global,Should countries work together on climate chan...,Countries working together,It doesn't matter - no country should work on ...,All Education,All Ages,5.0,4,Peoples' call for collaboration,Climate change is a global problem that requir...
3,63,63,1,13,1000,1,1,Global,Should countries work together on climate chan...,Countries working together,Don't know,All Education,All Ages,2.0,4,Peoples' call for collaboration,Climate change is a global problem that requir...
4,273,273,1,13,1,1,2,Global,Should countries work together on climate chan...,Countries working together,Yes - they should work together despite their ...,All Education,Under 18,86.0,4,Peoples' call for collaboration,Climate change is a global problem that requir...

In [9]:
df_clean = df[(df['Age'] != 'All Ages') & (df['Education'] != 'All Education')]

In [10]:
df_clean.columns.tolist()

['Column1',
 'ID',
 'CID',
 'QID',
 'RID',
 'EID',
 'AID',
 'Country',
 'Question Text',
 'Question Text (Short)',
 'Response',
 'Education',
 'Age',
 'Weighted Mean',
 'Cat ID',
 'Category',
 'Question Context']